<!DOCTYPE html>
<!--
	AUTHOR:		dmnicholas@me.com
	VERSION:	1.0.0
	CREATED:
	PURPOSE:
	TODO:
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upwork crap</title>
    <link href="public/css/foundation.min.css" rel="stylesheet">
</head>
<body>