html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Aspira';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.otf") format("opentype");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/aspira.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'JaneAusten';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/janeausten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pesaro';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.otf") format("opentype");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pesaro-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: Pesaro, sans-serif; }
  body #title_bar {
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center; }
    body #title_bar #journal {
      position: relative;
      left: 2%;
      width: 38%;
      height: 40%;
      padding-top: 1%;
      padding-bottom: 1%;
      border-top: solid black 2px;
      border-bottom: solid black 2px;
      text-align: center;
      font-family: Aspira, sans-serif;
      font-size: 3vh; }
    body #title_bar #title {
      position: relative;
      left: 10%;
      font-size: 15vmin; }
  body .vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: right top 0; }
  body #volume_bar {
    position: absolute;
    top: 35%;
    left: 5%;
    color: #9a9a9a; }
    body #volume_bar #volume_text {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 9vmin; }
    body #volume_bar #number_label {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 5vmin; }
  body img {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 40vmin; }
  body #caption {
    position: absolute;
    top: 35%;
    right: 12%;
    font-family: JaneAusten, sans-serif;
    font-size: 2vmin;
    color: #9a9a9a; }
  body .footer {
    position: absolute;
    bottom: 0;
    height: 3%;
    width: 100%;
    padding-top: .5%;
    border-top: solid black 2px;
    font-family: Aspira,sans-serif;
    font-size: 2vmin;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
