@import "reset";

body {
  background-color: #ff6400;
}

#title {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 5vmin;
  margin-top: 2%;
  margin-bottom: 3%;
}

#instructions {
  text-align: center;
  font-family: "Times New Roman", sans-serif;
  font-size: 3vmin;
  margin-bottom: 2%;
}

#right {
  position: relative;
  left: 60%;
}

#left {
   position: relative;
   left: 30%;
 }

#knife {
  position: relative;
  left: 20%;
  visibility: hidden;
}

#cake {
  position: relative;
  left: 50%;
  visibility: hidden;
}

#dog {
  position: relative;
  left: 10%;
  visibility: hidden;
}

#cat {
  position: relative;
  left: 40%;
  visibility: hidden;
}