@import "reset";
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Oxygen', sans-serif;
    background: url('../images/stormy-weather-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    .title_bar {
      position: absolute;
      width: 100%;
      height: 15%;
      background-color: rgba(0, 0, 0, 0.7);
      #title {
        position: absolute;
        left: 2%;
        top: 30%;
        font-size: 6vh;
        font-weight: bold;
      }
      #icons {
        position: absolute;
        right: 2%;
        top: 30%;
        font-size: 6vh;
        color: #747474;
      }
    }
    #lyrics {
      position: absolute;
      top: 30%;
      right: 65%;
      width: 22%;
      padding: 3%;
      font-size: 2vh;
      line-height: 3vh;
      background-color: rgba(0, 0, 0, 0.7);
      border: solid white 1px;
      #outer_border {
        position: absolute;
        top: -7px;
        left: -7px;
        right: -7px;
        bottom: -7px;
        border: solid white 2px;
        z-index: 8;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .fa-mobile {
    color: #ffffff;
  }
}

@media screen and (min-width: 600px){
  .fa-tablet {
    color: #ffffff;
  }
}

@media screen and (min-width: 1050px) {
  .fa-tablet{
    color: #747474;
  }
  .fa-desktop {
    color: #ffffff;
  }
}